{% extends 'FlosyUseCaseBundle::layout.html.twig' %}

{% block container -%}
    <h1>Projects list</h1>

    <table class="records_list table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Updated</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.name }}</td>
                <td>{{ entity.description }}</td>
                <td>{% if entity.updated %}{{ entity.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <a href="{{ path('project_edit', { 'id': entity.id }) }}" class="btn btn-primary btn-xs">edit</a>
                    <a href="{{ path('project_show', { 'id': entity.id }) }}" class="btn btn-primary btn-xs">show</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('project_new') }}" class="btn btn-primary">
        New project
    </a>

    {% endblock %}
