{% extends 'FlosyUseCaseBundle::layout.html.twig' %}

{% block container -%}
    <h1>{{ entity.name }}</h1>
    <div ng-app="sortableApp" ng-controller="sortableController">
    {% verbatim %}
        <ul ui-sortable="sortableOptions" ng-model="list" class="list">
          <li ng-repeat="item in list" class="item">{{item.title}}</li>
        </ul>

        <ul class="list logList">
          <li ng-repeat="entry in sortingLog" class="logItem">{{entry.Text}}</li>
        </ul> 
    {% endverbatim %}
    </div>
    
    <a href="{{ path('usecase_new') }}" class="btn btn-default">
        New use case
    </a>
{% endblock %}

{% block javascripts %}
    {{parent()}}
    
    <script src="{{asset('bundles/flosyusecase/js/jquery.js')}}"></script>
    <script src="{{asset('bundles/flosyusecase/js/jquery-ui.js')}}"></script>
    <script src="{{asset('bundles/flosyusecase/js/angular.js')}}"></script>
    <script src="{{asset('bundles/flosyusecase/js/sortable.js')}}"></script>
    <script type="text/javascript">
      var myapp = angular.module('sortableApp', ['ui.sortable']);

      myapp.controller('sortableController', function ($scope) {
          var tmpList = {{uses_cases|raw}};

          $scope.list = tmpList;

          $scope.sortingLog = [];
          
          $scope.sortableOptions = {
              // called after a node is dropped
              stop: function(e, ui) {
                  var logEntry = {
                    ID: $scope.sortingLog.length + 1,
                    Text: 'Moved element: ' + ui.item.scope().item.title
                  };
                  $scope.sortingLog.push(logEntry);
              }
          };
      });
  </script>
{% endblock %}
    