{% extends 'FlosyUseCaseBundle::layout.html.twig' %}

{% block title %}
{{ 'views.actor.edit.title'|trans({'%actor%': entity.name}, 'FlosyUseCaseBundle') }}
{% endblock %}

{% block page %}

<h1>{{ 'views.actor.edit.title'|trans({'%actor%': entity.name}, 'FlosyUseCaseBundle') }}</h1>

<form class="well" action="{{ path('actor_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit" class="btn btn-success">{{ 'views.common.actions.update'|trans({}, 'FlosyUseCaseBundle') }}</button>
    </p>
</form>

<div>
    <div class="float-left">
        <a class="btn" href="{{ path('actor') }}">
            {{ 'views.common.actions.back_to_list'|trans({}, 'FlosyUseCaseBundle') }}
        </a>
    </div>
    <div class="float-left">
        <form action="{{ path('actor_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger" type="submit" onclick="return confirm('{{ 'views.actor.edit.confirm_delete'|trans({}, 'FlosyUseCaseBundle') }}');">{{ 'views.common.actions.delete'|trans({}, 'FlosyUseCaseBundle') }}</button>
        </form>
    </div>
</div>
{% endblock %}