{% extends 'FlosyUseCaseBundle::layout.html.twig' %}

{% block title %}
{{ 'views.scenario.new.title'|trans({}, 'FlosyUseCaseBundle') }}
{% endblock %}

{% block page %}

<h1>{{ 'views.scenario.new.title'|trans({}, 'FlosyUseCaseBundle') }}</h1>

<form class="well" action="{{ path('scenario_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit" class="btn btn-success">{{ 'views.common.actions.create'|trans({}, 'FlosyUseCaseBundle') }}</button>
    </p>
</form>

<div>
    <div class="float-left">
        <a class="btn" href="{{ uriListPath }}">
            {{ 'views.common.actions.back_to_list'|trans({}, 'FlosyUseCaseBundle') }}
        </a>
    </div>
</div>
{% endblock %}