{% extends 'FlosyUseCaseBundle::layout.html.twig' %}

{% block container -%}
    <h1>UseCase list</h1>

    <table class="records_list table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Aim</th>
                <th>Project</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.title }}</td>
                <td>{{ entity.aim }}</td>
                <td>{{ entity.project }}</td>
                <td>
                    <a href="{{ path('usecase_edit', { 'id': entity.id }) }}" class="btn btn-primary btn-xs">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
    <a href="{{ path('usecase_new') }}" class="btn btn-default">
        New usecase
    </a>
        
    {% endblock %}
